/*Getting started, take a look at the startups table:*/

In [ ]:
SELECT * FROM startups LIMIT 10;

/*Calculate the total number of companies in the table.*/

In [ ]:
SELECT COUNT(name) FROM startups;

/*We want to know the total value of all companies in this table.*/

In [ ]:
SELECT SUM(valuation) FROM startups;

/*What is the highest amount raised by a startup?*/

In [ ]:
SELECT MAX(raised) FROM startups;

/*Edit the query so that it returns the maximum amount of money raised, during ‘Seed’ stage.*/

In [ ]:
SELECT MAX(raised) FROM startups WHERE stage = 'Seed';

/*In what year was the oldest company on the list founded?*/

In [ ]:
SELECT MIN(founded) FROM startups;

/*Return the average valuation.*/

In [ ]:
SELECT AVG(valuation) FROM startups;

/*Return the average valuation, in each category.*/

In [ ]:
SELECT category, AVG(valuation) FROM startups GROUP BY category;

/*Return the average valuation, in each category. Round the averages to two decimal places.*/

In [ ]:
SELECT category, ROUND(AVG(valuation), 2) FROM startups GROUP BY category;

/*Return the average valuation, in each category. Round the averages to two decimal places. Lastly, order the list from highest averages to lowest.*/

In [ ]:
SELECT category, ROUND(AVG(valuation), 2) FROM startups GROUP BY category ORDER BY 2 DESC;

/*First, return the name of each category with the total number of companies that belong to it.*/

In [ ]:
SELECT category, COUNT(name) FROM startups GROUP By category;

/*Next, filter the result to only include categories that have more than three companies in them. What are the most competitive markets?*/

In [ ]:
SELECT category, COUNT(name) FROM startups GROUP By category HAVING COUNT(name) > 3;

/*What is the average size of a startup in each location?*/

In [ ]:
SELECT location, AVG(employees) FROM startups GROUP BY 1;

/*What is the average size of a startup in each location, with average sizes above 500?*/

In [ ]:
SELECT location, AVG(employees) FROM startups GROUP BY 1 HAVING AVG(employees) > 500;