/*Create a table named friends with three columns:
id that stores INTEGER
name that stores TEXT
birthday that stores DATE*/

In [ ]:
CREATE TABLE friends (
  id INTEGER,
  name TEXT,
  birthday DATE
);

/*Beneath your current code, add Ororo Munroe to friends.
Her birthday is May 30th, 1940.*/

In [ ]:
INSERT INTO friends (id, name, birthday) VALUES (1, "Ororo Munroe", "May 30th, 1940");

/*Let’s make sure that Ororo has been added to the database. Check for two things:
Is friends table created?
Is Ororo Munroe added to it?*/

In [ ]:
SELECT * FROM friends;

/*Add two of your friends to the table.
Insert an id, name, and birthday for each of them.*/

In [ ]:
INSERT INTO friends (id, name, birthday) VALUES (2, "Ed Jackson", "July 13th, 1990"), (3, "Chey Bae", "December 8th, 1990");

/*Ororo Munroe just realized that she can control the weather and decided to change her name. Her new name is “Storm”.
Update her record in friends.*/

In [ ]:
UPDATE friends SET name = "Storm" WHERE id = 1;

/*Add a new column named email.*/

In [ ]:
ALTER TABLE friends ADD email TEXT;

/*Update the email address for everyone in your table.
Storm’s email is storm@codecademy.com.*/

In [ ]:
UPDATE friends SET email = "storm@codecademy.com" WHERE id = 1;
UPDATE friends SET email = "ed@codecademy.com" WHERE id = 2;
UPDATE friends SET email = "chey@codecademy.com" WHERE id = 3;

/*Wait, Storm is fictional…
Remove her from friends.*/

In [ ]:
DELETE FROM friends WHERE name = "Storm";

/*Let’s take a look at the result one last time:*/

In [ ]:
SELECT * FROM friends